$primary-color: #973436;

div.container {
  min-height: 90vh;
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .title {
    font-size: clamp(3.5rem, 6vw, 5rem);
    text-align: center;
    margin-top: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;

    .formInput {
      padding: 1rem 0.5rem;
      margin: 0.5rem;
      border-style: solid;
      border-color: black;
      border-width: 2px;
      border-radius: 6px;
    }
  }
  
  button {
    padding: 2rem;
    width: 100%;
    border-radius: 6px;
    border-style: unset;
    background-color: $primary-color;
    color: white;
    font-family: Merienda;
    font-size: 1rem;
  }
}