.dont-cut {
  height: 100%;
}

.coverImage {
  height: 100vh;
  overflow: hidden;

  img {
    // display: block;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    min-height: 100%;

    /* Center and scale the image nicely */
    // background-position: top;
    // background-repeat: no-repeat;
    // background-size: cover;
    // transform: translate(0, -320px);
  }

  .fullTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    // -webkit-text-stroke-width: 3px;
    // -webkit-text-stroke-color: black;
    text-shadow: 0 8px 12px rgb(0 0 0 / 75%);
    font-size: clamp(4rem, 10vw, 15rem);
    min-width: 80%;
  }

  // @media only screen and (max-width: 600px) {
  //   .full-title {
  //     top: 35vw;
  //   }
  // }
}

@media (max-width: 600px) {
  .coverImage {
    margin-bottom: unset;

    &.dont-cut {
      height: 100vh;
    }
  }
}

@media (min-width: 601px) and (max-width: 1100px) {
  .coverImage {
    // margin-bottom: 1.5rem;

    &.dont-cut {
      height: 100%;
    }
  }
}
@media (min-width: 1100px) {
  .coverImage {
    height: 105vh;

    &.dont-cut {
      height: 100%;
    }
  }
}
