$hamburger-layer-color: white;
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 12px 180px 12px;
  background-color: white;
  color: white;
  font-family: 'MedievalSharp';
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a:not(.logo-link) {
      order: unset;
      color: black;
      text-decoration: none;
      font-size: clamp(2rem, 2vw, 2rem);
    }

    .logo {
      order: unset;
      padding-top: 1rem;
      width: 10rem;
      cursor: pointer;
    }
  }
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1460px) {
  .header {
    padding: 2rem;

  }
}

@media only screen and (max-width: 1100px) {
  .hamburger {
    display: unset;
  }
  .header {
    padding: 1rem;
    // width: 70px;
    background-color: black;
    position: fixed;
    span[class^="Header_hamburger-inner"] {
      &::before,
      &::after {
        background-color: white;
      }
    }
    &.is-active {
      background-color: rgba(255, 255, 255, 1);
      width: 40vh;
      span[class^="Header_hamburger-inner"] {
        &::before,
        &::after {
          background-color: black;
          opacity: 1;
        }
      }
    }
    
    .buttons {
      display: none;
      flex-direction: column;
      height: 70vh;

      
      &.is-active {
        display: flex;
        width: 40vh;
        a:not(.logo-link) {
          order: 2;
        }

        .logo-link {
          order: 1;
        }
      }
      .logo {
        padding-top: unset;
      }
    }

  }
}