@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Merienda&display=swap');

$primary-color: #973436;

body {
  font-family: 'MedievalSharp', 'Merienda',
    'Arial', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  // height: 2px;
  border: 1px solid $primary-color;
  width: 50%;
}



/* TEXT BLOCK */
.text-block-wrapper {
  display: inline-block;
}

.text-block {
  max-width: 60%;
  font-family: Merienda;
  font-size: clamp(1rem, 3vw, 2rem);
  padding: 48px;

  h3.title {
    font-family: MedievalSharp;
    text-align: center;
  }
  
  &.overlap-previous {
    transform: translate(0, -5vh);
  }
  &.overlap-next {
    transform: translate(0, 25%);
  }
  
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
  
  &.black {
    background-color: black;
    color: white;
  }
  &.primary {
    background-color: $primary-color;
    color: white;
  }
}

.main-text {
  font-family: MedievalSharp;
  color: $primary-color;
  font-size: 7rem;
  text-align: center;
  text-shadow: 0 4px 6px rgb(0 0 0 / 50%);
}

.main-image-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem 6rem 1rem;

  height: 80vh;
  .single {
    display: flex;
    overflow: hidden;

    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }

    span.link-title {
      position: relative;
      top: 85%;
      right: 95%;
      color: white;
      font-family: MedievalSharp;
      font-size: clamp(3rem, 4vw, 5rem);
      text-shadow: 0 8px 12px rgb(0 0 0 / 75%);

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .double {
    overflow: hidden;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 1fr 1fr;

    div {
      display: flex;
      overflow: hidden;

      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }

      span.link-title {
        position: relative;
        top: 70%;
        right: 95%;
        color: white;
        font-family: MedievalSharp;
        font-size: clamp(3rem, 4vw, 5rem);
        text-shadow: 0 8px 12px rgb(0 0 0 / 75%);

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

}

@media only screen and (max-width: 1100px) {
  .main-image-links {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: unset;
    padding: 1rem 1rem;
    
    .single {
      span.link-title{
        top: 40%;
      }
    }
    .double {
      div > span.link-title{
        top: 40%;
      }
    }
  }

}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}