@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Merienda&display=swap');

$primary-color: #973436;

body {
  font-family: 'MedievalSharp', 'Merienda',
    'Arial', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  // height: 2px;
  border: 1px solid $primary-color;
  width: 50%;
}

.cover-image {
  max-height: 100vh;
  overflow: hidden;
  img {
    display: block;
    max-width: 100%;
    /* Full height */
    // height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .full-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    // -webkit-text-stroke-width: 3px;
    // -webkit-text-stroke-color: black;
    text-shadow: 0 4px 6px rgb(0 0 0 / 50%);
    font-size: clamp(6rem, 8vw , 12rem);
  }
}

/* TEXT BLOCK */
.text-block-wrapper {
  display: inline-block;
}

.text-block {
  max-width: 60%;
  font-family: Merienda;
  font-size: 2rem;
  padding: 48px;

  h3.title {
    font-family: MedievalSharp;
    text-align: center;
  }
  
  &.overlap-previous {
    transform: translate(0, -10vh);
  }
  &.overlap-next {
    transform: translate(0, 25%);
  }
  
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
  
  &.black {
    background-color: black;
    color: white;
  }
  &.primary {
    background-color: $primary-color;
    color: white;
  }
}

.main-text {
  font-family: MedievalSharp;
  color: $primary-color;
  font-size: 7rem;
  text-align: center;
  text-shadow: 0 4px 6px rgb(0 0 0 / 50%);
}

.main-image-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 0 6rem 1rem;

  height: 70vh;
  .single {
    overflow: hidden;
  }

  .double {
    overflow: hidden;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 1fr 1fr;

    div {
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }

}