@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Merienda&display=swap");
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
// @import "./_media-queries.scss";

$primary-color: #973436;

body {
  font-family: "MedievalSharp", "Merienda", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  // height: 2px;
  border: 1px solid $primary-color;
  width: 50%;
  margin: 4vw auto;
}

/* TEXT BLOCK */
.text-block-wrapper {
  display: inline-block;
}

.text-block {
  max-width: 60%;
  // min-height: 20vh;
  font-family: Merienda;
  font-size: clamp(1.5rem, 3vw, 2rem);
  padding: 2rem 6rem;
  text-align: center;

  h3.title {
    font-family: MedievalSharp;
    text-align: center;
  }

  &.overlap-previous {
    transform: translate(0, -15vh);
    margin-bottom: -15vh;
    &.small-card {
      display: flex;
      align-items: center;
      transform: translate(3vw, -15vh);
    }
  }
  &.overlap-next {
    transform: translate(0, 15vh);
    margin-top: -15vh;
    z-index: 150;
    &.small-card {
      display: flex;
      align-items: center;
      transform: translate(3vw, 15vh);
    }
  }

  &.right {
    float: right;
  }
  &.left {
    float: left;
  }

  &.black {
    background-color: black;
    color: white;
  }
  &.primary {
    background-color: $primary-color;
    color: white;
  }

  &.white {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
}

/* END TEXT BLOCK */

.main-text {
  font-family: MedievalSharp;
  color: $primary-color;
  font-size: 7rem;
  text-align: center;
  text-shadow: 0 4px 6px rgb(0 0 0 / 50%);
}

.main-image-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem 6rem 1rem;

  height: 80vh;
  .single {
    display: flex;
    overflow: hidden;

    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }

    span.link-title {
      position: relative;
      top: 85%;
      right: 95%;
      color: white;
      font-family: MedievalSharp;
      font-size: clamp(3rem, 4vw, 5rem);
      text-shadow: 0 8px 12px rgb(0 0 0 / 75%);

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .double {
    overflow: hidden;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 1fr 1fr;

    div {
      display: flex;
      overflow: hidden;

      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }

      span.link-title {
        position: relative;
        top: 70%;
        right: 95%;
        color: white;
        font-family: MedievalSharp;
        font-size: clamp(3rem, 4vw, 5rem);
        text-shadow: 0 8px 12px rgb(0 0 0 / 75%);

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

/* BIO SECTION */
.bio-info {
  display: flex;
  background-color: black;
  box-shadow: 0px 0px 0px 3rem white inset;
  // margin-bottom: 16vh;

  .foto-carla {
    // width: 15vw;
    width: 80%;
    max-height: 85vh;
    // margin-bottom: 8rem;
    margin-left: 5vw;
    // padding-top: 4rem;
    overflow: hidden;

    img {
      width: 70vw;
    }
  }
  .bio-info-text {
    border: 2px solid black;
    background-color: white;
    height: 28vh;
    max-width: 60vw;
    transform: translate(-10vw, 20vh);
    font-family: Merienda;
    font-size: clamp(1rem, 2.8vw, 2rem);
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
  }
}

/* END BIO SECTION */

.full-width-img {
  display: inline-block;
  width: 100%;
  max-height: 80vh;
  object-fit: cover;

  &.full-height {
    max-height: 100%;
  }
}

img.logo-masks {
  // margin: 2rem auto;
  position: relative;
  padding: 8rem 0;
  left: 10%;
  width: 10vw;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* GALERIA */
.alice-carousel {
  padding: 2rem 0;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 392px) {
  .main-image-links {
    // margin-top: 8rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: unset;
    padding: 0 1rem;

    .single {
      span.link-title {
        top: 40%;
      }
    }
    .double {
      div > span.link-title {
        top: 40%;
      }
    }
  }

  .text-block {
    max-width: unset;
    padding: 3.5rem;

    &.overlap-previous {
      transform: unset;
      margin-bottom: unset;
    }
    &.overlap-next {
      transform: unset;
      margin-top: unset;
    }

    &.right,
    &.left {
      float: unset;
    }
  }

  .bio-info {
    margin-bottom: 10vh;
    box-shadow: 0px 0px 0px 1.5rem white inset;

    .foto-carla {
      margin-left: 3vw;

      img {
        width: 100vw;
      }
    }

    .bio-info-text {
      height: 70vh;
      max-width: 75vw;
      transform: translate(-5vw, 5vh);
      // padding: 4rem;
    }
  }

  .contact-container {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (min-width: 393px) and (max-width: 480px) {
  .main-image-links {
    // margin-top: 8rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: unset;
    padding: 0 1rem;

    .single {
      span.link-title {
        top: 40%;
      }
    }
    .double {
      div > span.link-title {
        top: 40%;
      }
    }
  }

  // .text-block-wrapper {
  //   display: unset;
  // }
  .text-block {
    max-width: unset;
    padding: 3.5rem;

    &.overlap-previous {
      transform: unset;
      margin-bottom: unset;
    }
    &.overlap-next {
      transform: unset;
      margin-top: unset;
    }

    &.right,
    &.left {
      float: unset;
    }
  }

  .bio-info {
    margin-bottom: 10vh;
    box-shadow: 0px 0px 0px 1.5rem white inset;

    .foto-carla {
      margin-left: 3vw;

      img {
        width: 30vh;
      }
    }

    .bio-info-text {
      height: 70vh;
      max-width: 75vw;
      transform: translate(-5vw, 5vh);
      // padding: 4rem;
    }
  }

  .contact-container {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-image-links {
    // margin-top: 8rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: unset;
    padding: 0 1rem;

    .single {
      span.link-title {
        top: 40%;
      }
    }
    .double {
      div > span.link-title {
        top: 40%;
      }
    }
  }

  // .text-block-wrapper {
  //   display: unset;
  // }
  .text-block {
    max-width: unset;
    padding: 4rem;

    &.overlap-previous {
      transform: unset;
      margin-bottom: unset;
    }
    &.overlap-next {
      transform: unset;
      margin-top: unset;
    }
    &.right,
    &.left {
      float: unset;
    }
  }

  .bio-info {
    margin-bottom: 10vh;
    .foto-carla {
      // width: 15vw;
      width: 80%;
      max-height: 50vh;
      margin-bottom: 8rem;
      margin-left: 10vw;
      padding-top: 4rem;

      img {
        width: 20vh;
      }
    }

    box-shadow: 0px 0px 0px 1.5rem white inset;
    .bio-info-text {
      height: 70vh;
      max-width: 75vw;
      transform: translate(-5vw, 5vh);
      // padding: 4rem;
    }
  }

  .contact-container {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .main-image-links {
    // margin-top: 8rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: unset;
    padding: 0 1rem;

    .single {
      span.link-title {
        top: 40%;
      }
    }
    .double {
      div > span.link-title {
        top: 40%;
      }
    }
  }

  // .text-block-wrapper {
  //   display: unset;
  // }
  .text-block {
    // max-width: unset;
    padding: 4rem;

    &.overlap-previous {
      // transform: unset;
      transform: translate(0, -10vh);
      margin-bottom: -10vh;
    }
    &.overlap-next {
      transform: translate(0, 10vh);
      margin-top: -10vh;
    }
    // &.right, &.left {
    //   float: unset;
    // }
  }

  .bio-info {
    .bio-info-text {
      height: 35vh;
      max-width: 75vw;
      transform: translate(-5vw, 15vh);
      // padding: 4rem;
    }
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1460px) {
  .bio-info {
    .bio-info-text {
      height: 30vh;
      max-width: 70vw;
      transform: translate(-5vw, 22vh);
      // padding: 3rem;
    }
  }
}
